* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: #ECE9FD;
    padding: 6.0rem 2.3rem 6.6rem;
    
    font-size: 1.6rem;
    font-family: Epilogue;
}

main {
    max-width: 33rem;
    margin: 0 auto;
}

main p:first-child {
    color: var(--text-dark-accent, #7158EF);
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;

    margin-bottom: 1.7rem;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-size: 4.0rem;
    line-height: 4.8rem;
    font-weight: 800;

    color: var(--text-dark, #090039);
    font-feature-settings: 'clig' off, 'liga' off;

    margin-bottom: 1.5rem;
}

h1 + p {
    color: var(--text-dark-gray, rgba(10, 0, 57, 0.64));
    font-feature-settings: 'clig' off, 'liga' off;

    line-height: 3.2rem;
    margin-bottom: 3.2rem;
}

ul {
    list-style: none;

    margin-top: 7.2rem;
}

ul li {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #090039;

    max-width: 25.7rem;

    display: flex;
    align-items: center;
    gap: 3.8rem;
}

ul li + li {
    margin-top: 3.2rem;
}

ul li span {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;
    letter-spacing: -2px;
    color: #090039;
}

a {
    color: var(--text-dark, #090039);
    font-feature-settings: 'clig' off, 'liga' off;

    text-decoration: none;
}

a:hover {
    color: var(--text-dark, #090039);
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight: bold;
}

@media (min-width: 700px) {

    body {
        margin: 8rem;
    }

    main {
        max-width: 1020px;
        display: flex;
        gap: 10rem;
    }

    main > div {
        max-width: 484px;
    }

    ul li {
        gap: 5.3rem;
        max-width: 450px;
        align-items: center;
    }
}

